<style type="text/css">
  input.text { border: 1px solid lightblue; border-radius: 7px; outline-style:none; padding: 3px; }
</style>

<form action="/new" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username" value="" id="username" class="text">
  <input type="submit" value="Download" />
</form>
